@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
body {
    font-family: 'Share', cursive;
    width: 100%;
}

.top-bit {
    border-radius: 20px;
    display: flex; 
    background-color:cornflowerblue;
    
    height: 30%;
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.8);
}

.top-bit p {
    margin: 0 auto;
    font-size: 6vw;
    color: black;
    margin-top: 30vh;
}

.profile-img {
    margin: 0 auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 30vh;
    border-radius: 20px; 
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.8);
}

.portal {
    text-align: center;
    
}

.middle-bit {
    text-align: center;
}

.footer-info-container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.bottom-bit {
    background-color:cornflowerblue;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.8);
    
}

.date-box {
    color: rgb(241, 203, 78);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}    