@media only screen and (min-width: 32.5em){

    .profile-img {
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 60vh;
        border-radius: 20px;
        box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    }
    .top-bit {
        border-radius: 20px;
        display: flex;
        background-color:cornflowerblue;
        height: 20%;
        box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.8);
    }
}